# ENVIRONMENT
ENV=development
PROJECT_NAME=chile-dt
PROJECT_VERSION=0.2  # Docker image version

# POSTGRESQL
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_ROLE=

# AWS ECR
AWS_REGISTRY=dssapp registry (you should ask for this or create your own)

# AWS JOB QUEUE
AWS_JOB_QUEUE=name of the batch queue

# AWS S3
S3_BUCKET=dsapp bucket (This is only the "root" folder)

AWS_DEFAULT_REGION=us-west-2

## TRIAGE (this number should be compatible with run_experiment task definition)
NUMBER_OF_PROCESSES=60
NUMBER_OF_DB_PROCESSES=10
